.ProductCard {
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 16px;
    max-width: 200px;
    text-align: center;
    height: auto;
    width: 250px;
}
