.ProductCard {
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 16px;
    max-width: 200px;
    text-align: center;
    height: 250px;
    width: 250px;
}

.ProductTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductDescription {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ProductCategory {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.ProductPrice {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.ProductRating {
    font-size: 14px;
    color: #ff9900;
}

.LoadingMessage {
    width: 100%;
    font-size: 20px;
    color: #666;
    text-align: center;
    margin-top: 50px;
}

.ProductImage {
    min-width: 80px;
    max-width: 200px;
    min-height: 100px;
    max-height: 120px;
    position: relative
}
