/* Основной контейнер заголовка */
.headerWrapper {
    width: 100%;
    background-color: #89a8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.headerContainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}


.navLink {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.navItemWithNotifications {
    position: relative;
}

.navLink:hover {
    background-color: #4a90e2;
    color: #ffffff;
}

@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
    }

    .navList {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .navLink {
        text-align: center;
        margin: 15px;
    }
}
