.button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    background: #89a8ff;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: 300ms;
}

.button:hover {
    background: #aeaeae;
    transition: 300ms;
}

.button:active {
    transition: 100ms;
    transform: translateY(2px);
}